
lightning-utilities==0.14.1
matplotlib==3.10.1

pandas==2.2.3
pesq==0.0.4

pystoi==0.4.1

pytorch-lightning==1.6.5.post0

scipy==1.15.2

soundfile==0.13.1

torch==2.1.2
torch-ema==0.3
torch-pesq==0.1.2
torchaudio==2.1.2
torchelastic==0.2.2
torchmetrics==1.6.3
torchtyping==0.1.5
torchvision==0.16.2

wandb==0.19.8
w